---
layout: default
---


<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true"
        style="background-image: url('https://picsum.photos/1440/440/?random'); transform: translate3d(0px, 0px, 0px);">
    </div>
    <div class="container">
        <div class="photo-container">
            <img src="https://avatars.githubusercontent.com/mkhairi" alt="">
        </div>
        <h3 class="title">Mohd Khairi</h3>
        <p class="category">Full-Stack Developer, Ruby on Rails developer</p>
        <div class="content">
            <div class="social-description">
                <h2>{{'now' | date: "%Y" | minus: 1989 }}</h2>
                <p>Age</p>
            </div>
            <div class="social-description">
                <h2>1</h2>
                <p>Wife</p>
            </div>
            <div class="social-description">
                <h2>3</h2>
                <p>Kids</p>
            </div>
        </div>

    </div>
</div>

<div class="section">
    <div class="container">
        <div class="button-container">
            <a href="https://www.github.com/mkhairi" class="btn btn-default btn-round btn-lg btn-icon" target="_blank" rel="tooltip" title=""
                data-original-title="Follow me on Github">
                <i class="fab fa-github"></i>
            </a>
             <a href="https://dev.to/mkhairi" class="btn btn-default btn-round btn-lg btn-icon" target="_blank" rel="tooltip" title=""
                data-original-title="Follow me on Dev.to">
                <i class="fab fa-dev"></i>
            </a>
            <a href="https://www.linkedin.com/in/mohdkhairi/" class="btn btn-default btn-round btn-lg btn-icon" target="_blank" rel="tooltip"
                title="" data-original-title="Connect on linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://rubygems.org/profiles/mkhairi" class="btn btn-default btn-round btn-lg btn-icon" target="_blank"
                rel="tooltip" title="" data-original-title="View my rubygems">
                <i class="far fa-gem"></i>
            </a>
            <a href="https://twitter.com/kheri_ad6" class="btn btn-default btn-round btn-lg btn-icon" target="_blank" rel="tooltip" title=""
                data-original-title="Follow me on Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/mkhairi.adnan" class="btn btn-default btn-round btn-lg btn-icon" target="_blank" rel="tooltip" title=""
                data-original-title="Follow me on Facebook">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/kheri_ad6" class="btn btn-default btn-round btn-lg btn-icon" target="_blank" rel="tooltip" title=""
                data-original-title="Follow me on Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </div>

        <h3 class="title">About me</h3>
        <h5 class="description">I am a senior software developer based in Shah Alam, Selangor. I have been writing software for the web professionally
        since 2011. I have two passions in software. The first is building beautiful tools for people to share knowledge, advice
        and experience. The second is creating reliable infrastructure that is easy to use and maintain.
        
        I enjoy contributing to open source projects, writing, reading, listening to music and wandering through cities and
        countrysides. Outside of the tech-world I love to aquascaping.</h5>

    </div>
</div>
